.navbarItems{
    background: #5B5255;
    width: 100%;
    height: 10vh;
    font-size: 6vh;
    color: #FAA5C2;
    align-items: center;
}

.navbar-menu {
    color: #FAA5C2;
    padding: 0.5rem;
}

a {
    color: #FAA5C2;
    text-decoration: none;
  }

.datebar {
    position: relative;
    float: right;
}  


